<div id="sub-nav" class="nav-container js-sidenav" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">Doc Index</a>
  <div class="nav-content">
    <ul>
      <li class=""><a href="/nist/index.html">NIST Controls and PCF</a></li>
      <li class="has_submenu">
        <a href="/nist/ac/index.html">AC - Access Control</a>
        <ul>
          <li><a href="/nist/ac/ac-1.html">AC-1 ACCESS CONTROL POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/ac/ac-2.html">AC-2 ACCOUNT MANAGEMENT</a></li>
          <li><a href="/nist/ac/ac-3.html">AC-3 ACCESS ENFORCEMENT</a></li>
          <li><a href="/nist/ac/ac-4.html">AC-4 INFORMATION FLOW ENFORCEMENT</a></li>
          <li><a href="/nist/ac/ac-5.html">AC-5 SEPARATION OF DUTIES</a></li>
          <li><a href="/nist/ac/ac-6.html">AC-6 LEAST PRIVILEGE</a></li>
          <li><a href="/nist/ac/ac-7.html">AC-7 UNSUCCESSFUL LOGON ATTEMPTS</a></li>
          <li><a href="/nist/ac/ac-8.html">AC-8 SYSTEM USE NOTIFICATION</a></li>
          <li><a href="/nist/ac/ac-9.html">AC-9 PREVIOUS LOGON (ACCESS) NOTIFICATION</a></li>
          <li><a href="/nist/ac/ac-10.html">AC-10 CONCURRENT SESSION CONTROL</a></li>
          <li><a href="/nist/ac/ac-11.html">AC-11 SESSION LOCK</a></li>
          <li><a href="/nist/ac/ac-12.html">AC-12 SESSION TERMINATION</a></li>
          <li><a href="/nist/ac/ac-14.html">AC-14 PERMITTED ACTIONS WITHOUT IDENTIFICATION OR AUTHENTICATION</a></li>
          <li><a href="/nist/ac/ac-16.html">AC-16 SECURITY ATTRIBUTES</a></li>
          <li><a href="/nist/ac/ac-17.html">AC-17 REMOTE ACCESS</a></li>
          <li><a href="/nist/ac/ac-18.html">AC-18 WIRELESS ACCESS</a></li>
          <li><a href="/nist/ac/ac-19.html">AC-19 ACCESS CONTROL FOR MOBILE DEVICES</a></li>
          <li><a href="/nist/ac/ac-20.html">AC-20 USE OF EXTERNAL INFORMATION SYSTEMS</a></li>
          <li><a href="/nist/ac/ac-21.html">AC-21 INFORMATION SHARING</a></li>
          <li><a href="/nist/ac/ac-22.html">AC-22 PUBLICLY ACCESSIBLE CONTENT</a></li>
          <li><a href="/nist/ac/ac-23.html">AC-23 DATA MINING PROTECTION</a></li>
          <li><a href="/nist/ac/ac-24.html">AC-24 ACCESS CONTROL DECISIONS</a></li>
          <li><a href="/nist/ac/ac-25.html">AC-25 REFERENCE MONITOR</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/au/index.html">AU - Audit and Accountability</a>
        <ul>
          <li><a href="/nist/au/au-1.html">AU-1 AUDIT AND ACCOUNTABILITY POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/au/au-2.html">AU-2 AUDIT EVENTS</a></li>
          <li><a href="/nist/au/au-3.html">AU-3 CONTENT OF AUDIT RECORDS</a></li>
          <li><a href="/nist/au/au-4.html">AU-4 AUDIT STORAGE CAPACITY</a></li>
          <li><a href="/nist/au/au-5.html">AU-5 RESPONSE TO AUDIT PROCESSING FAILURES</a></li>
          <li><a href="/nist/au/au-6.html">AU-6 AUDIT REVIEW, ANALYSIS, AND REPORTING</a></li>
          <li><a href="/nist/au/au-7.html">AU-7 AUDIT REDUCTION AND REPORT GENERATION</a></li>
          <li><a href="/nist/au/au-8.html">AU-8 TIME STAMPS</a></li>
          <li><a href="/nist/au/au-9.html">AU-9 PROTECTION OF AUDIT INFORMATION</a></li>
          <li><a href="/nist/au/au-10.html">AU-10 NON-REPUDIATION</a></li>
          <li><a href="/nist/au/au-11.html">AU-11 AUDIT RECORD RETENTION</a></li>
          <li><a href="/nist/au/au-12.html">AU-12 AUDIT GENERATION</a></li>
          <li><a href="/nist/au/au-13.html">AU-13 MONITORING FOR INFORMATION DISCLOSURE</a></li>
          <li><a href="/nist/au/au-14.html">AU-14 SESSION AUDIT</a></li>
          <li><a href="/nist/au/au-15.html">AU-15 ALTERNATE AUDIT CAPABILITY</a></li>
          <li><a href="/nist/au/au-16.html">AU-16 CROSS-ORGANIZATIONAL AUDITING</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/at/index.html">AT - Awareness and Training</a>
        <ul>
          <li><a href="/nist/at/at-1.html">AT-1 SECURITY AWARENESS AND TRAINING POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/at/at-2.html">AT-2 SECURITY AWARENESS TRAINING</a></li>
          <li><a href="/nist/at/at-3.html">AT-3 ROLE-BASED SECURITY TRAINING</a></li>
          <li><a href="/nist/at/at-4.html">AT-4 SECURITY TRAINING RECORDS</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/cm/index.html">CM - Configuration Management</a>
        <ul>
          <li><a href="/nist/cm/cm-1.html">CM-1 CONFIGURATION MANAGEMENT POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/cm/cm-2.html">CM-2 BASELINE CONFIGURATION</a></li>
          <li><a href="/nist/cm/cm-3.html">CM-3 CONFIGURATION CHANGE CONTROL</a></li>
          <li><a href="/nist/cm/cm-4.html">CM-4 SECURITY IMPACT ANALYSIS</a></li>
          <li><a href="/nist/cm/cm-5.html">CM-5 ACCESS RESTRICTIONS FOR CHANGE</a></li>
          <li><a href="/nist/cm/cm-6.html">CM-6 CONFIGURATION SETTINGS</a></li>
          <li><a href="/nist/cm/cm-7.html">CM-7 LEAST FUNCTIONALITY</a></li>
          <li><a href="/nist/cm/cm-8.html">CM-8 INFORMATION SYSTEM COMPONENT INVENTORY</a></li>
          <li><a href="/nist/cm/cm-9.html">CM-9 CONFIGURATION MANAGEMENT PLAN</a></li>
          <li><a href="/nist/cm/cm-10.html">CM-10 SOFTWARE USAGE RESTRICTIONS</a></li>
          <li><a href="/nist/cm/cm-11.html">CM-11 USER-INSTALLED SOFTWARE</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/cp/index.html">CP - Contingency Planning</a>
        <ul>
          <li><a href="/nist/cp/cp-1.html">CP-1 CONTINGENCY PLANNING POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/cp/cp-2.html">CP-2 CONTINGENCY PLAN</a></li>
          <li><a href="/nist/cp/cp-3.html">CP-3 CONTINGENCY TRAINING</a></li>
          <li><a href="/nist/cp/cp-4.html">CP-4 CONTINGENCY PLAN TESTING</a></li>
          <li><a href="/nist/cp/cp-5.html">CP-5 CONTINGENCY PLAN UPDATE</a></li>
          <li><a href="/nist/cp/cp-6.html">CP-6 ALTERNATE STORAGE SITE</a></li>
          <li><a href="/nist/cp/cp-7.html">CP-7 ALTERNATE PROCESSING SITE</a></li>
          <li><a href="/nist/cp/cp-8.html">CP-8 TELECOMMUNICATIONS SERVICES</a></li>
          <li><a href="/nist/cp/cp-9.html">CP-9 INFORMATION SYSTEM BACKUP</a></li>
          <li><a href="/nist/cp/cp-10.html">CP-10 INFORMATION SYSTEM RECOVERY AND RECONSTITUTION</a></li>
          <li><a href="/nist/cp/cp-11.html">CP-11 ALTERNATE COMMUNICATIONS PROTOCOLS</a></li>
          <li><a href="/nist/cp/cp-12.html">CP-12 SAFE MODE</a></li>
          <li><a href="/nist/cp/cp-13.html">CP-13 ALTERNATIVE SECURITY MECHANISMS</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/ia/index.html">IA - Identification and Authentication</a>
        <ul>
          <li><a href="/nist/ia/ia-1.html">IA-1 IDENTIFICATION AND AUTHENTICATION POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/ia/ia-2.html">IA-2 IDENTIFICATION AND AUTHENTICATION (ORGANIZATIONAL USERS)</a></li>
          <li><a href="/nist/ia/ia-3.html">IA-3 DEVICE IDENTIFICATION AND AUTHENTICATION</a></li>
          <li><a href="/nist/ia/ia-4.html">IA-4 IDENTIFIER MANAGEMENT</a></li>
          <li><a href="/nist/ia/ia-5.html">IA-5 AUTHENTICATOR MANAGEMENT</a></li>
          <li><a href="/nist/ia/ia-6.html">IA-6 AUTHENTICATOR FEEDBACK</a></li>
          <li><a href="/nist/ia/ia-7.html">IA-7 CRYPTOGRAPHIC MODULE AUTHENTICATION</a></li>
          <li><a href="/nist/ia/ia-8.html">IA-8 IDENTIFICATION AND AUTHENTICATION (NON-ORGANIZATIONAL USERS)</a></li>
          <li><a href="/nist/ia/ia-9.html">IA-9 SERVICE IDENTIFICATION AND AUTHENTICATION</a></li>
          <li><a href="/nist/ia/ia-10.html">IA-10 ADAPTIVE IDENTIFICATION AND AUTHENTICATION</a></li>
          <li><a href="/nist/ia/ia-11.html">IA-11 RE-AUTHENTICATION</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/ir/index.html">IR - Incident Response</a>
        <ul>
          <li><a href="/nist/ir/ir-1.html">IR-1 INCIDENT RESPONSE POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/ir/ir-2.html">IR-2 INCIDENT RESPONSE TRAINING</a></li>
          <li><a href="/nist/ir/ir-3.html">IR-3 INCIDENT RESPONSE TESTING</a></li>
          <li><a href="/nist/ir/ir-4.html">IR-4 INCIDENT HANDLING</a></li>
          <li><a href="/nist/ir/ir-5.html">IR-5 INCIDENT MONITORING</a></li>
          <li><a href="/nist/ir/ir-6.html">IR-6 INCIDENT REPORTING</a></li>
          <li><a href="/nist/ir/ir-7.html">IR-7 INCIDENT RESPONSE ASSISTANCE</a></li>
          <li><a href="/nist/ir/ir-8.html">IR-8 INCIDENT RESPONSE PLAN</a></li>
          <li><a href="/nist/ir/ir-9.html">IR-9 INFORMATION SPILLAGE RESPONSE</a></li>
          <li><a href="/nist/ir/ir-10.html">IR-10 INTEGRATED INFORMATION SECURITY ANALYSIS TEAM</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/ma/index.html">MA - Maintenance</a>
        <ul>
          <li><a href="/nist/ma/ma-1.html">MA-1 SYSTEM MAINTENANCE POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/ma/ma-2.html">MA-2 CONTROLLED MAINTENANCE</a></li>
          <li><a href="/nist/ma/ma-3.html">MA-3 MAINTENANCE TOOLS</a></li>
          <li><a href="/nist/ma/ma-4.html">MA-4 NONLOCAL MAINTENANCE</a></li>
          <li><a href="/nist/ma/ma-5.html">MA-5 MAINTENANCE PERSONNEL</a></li>
          <li><a href="/nist/ma/ma-6.html">MA-6 TIMELY MAINTENANCE</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/mp/index.html">MP - Media Protection</a>
        <ul>
          <li><a href="/nist/mp/mp-1.html">MP-1 MEDIA PROTECTION POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/mp/mp-2.html">MP-2 MEDIA ACCESS</a></li>
          <li><a href="/nist/mp/mp-3.html">MP-3 MEDIA MARKING</a></li>
          <li><a href="/nist/mp/mp-4.html">MP-4 MEDIA STORAGE</a></li>
          <li><a href="/nist/mp/mp-5.html">MP-5 MEDIA TRANSPORT</a></li>
          <li><a href="/nist/mp/mp-6.html">MP-6 MEDIA SANITIZATION</a></li>
          <li><a href="/nist/mp/mp-7.html">MP-7 MEDIA USE</a></li>
          <li><a href="/nist/mp/mp-8.html">MP-8 MEDIA DOWNGRADING</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/ps/index.html">PS - Personnel Security</a>
        <ul>
          <li><a href="/nist/ps/ps-1.html">PS-1 PERSONNEL SECURITY POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/ps/ps-2.html">PS-2 POSITION RISK DESIGNATION</a></li>
          <li><a href="/nist/ps/ps-3.html">PS-3 PERSONNEL SCREENING</a></li>
          <li><a href="/nist/ps/ps-4.html">PS-4 PERSONNEL TERMINATION</a></li>
          <li><a href="/nist/ps/ps-5.html">PS-5 PERSONNEL TRANSFER</a></li>
          <li><a href="/nist/ps/ps-6.html">PS-6 ACCESS AGREEMENTS</a></li>
          <li><a href="/nist/ps/ps-7.html">PS-7 THIRD-PARTY PERSONNEL SECURITY</a></li>
          <li><a href="/nist/ps/ps-8.html">PS-8 PERSONNEL SANCTIONS</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/pe/index.html">PE - Physical and Environmental Protection</a>
        <ul>
          <li><a href="/nist/pe/pe-1.html">PE-1 PHYSICAL AND ENVIRONMENTAL PROTECTION POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/pe/pe-2.html">PE-2 PHYSICAL ACCESS AUTHORIZATIONS</a></li>
          <li><a href="/nist/pe/pe-3.html">PE-3 PHYSICAL ACCESS CONTROL</a></li>
          <li><a href="/nist/pe/pe-4.html">PE-4 ACCESS CONTROL FOR TRANSMISSION MEDIUM</a></li>
          <li><a href="/nist/pe/pe-5.html">PE-5 ACCESS CONTROL FOR OUTPUT DEVICES</a></li>
          <li><a href="/nist/pe/pe-6.html">PE-6 MONITORING PHYSICAL ACCESS</a></li>
          <li><a href="/nist/pe/pe-7.html">PE-7 VISITOR CONTROL</a></li>
          <li><a href="/nist/pe/pe-8.html">PE-8 VISITOR ACCESS RECORDS</a></li>
          <li><a href="/nist/pe/pe-9.html">PE-9 POWER EQUIPMENT AND CABLING</a></li>
          <li><a href="/nist/pe/pe-10.html">PE-10 EMERGENCY SHUTOFF</a></li>
          <li><a href="/nist/pe/pe-11.html">PE-11 EMERGENCY POWER</a></li>
          <li><a href="/nist/pe/pe-12.html">PE-12 EMERGENCY LIGHTING</a></li>
          <li><a href="/nist/pe/pe-13.html">PE-13 FIRE PROTECTION</a></li>
          <li><a href="/nist/pe/pe-14.html">PE-14 TEMPERATURE AND HUMIDITY CONTROLS</a></li>
          <li><a href="/nist/pe/pe-15.html">PE-15 WATER DAMAGE PROTECTION</a></li>
          <li><a href="/nist/pe/pe-16.html">PE-16 DELIVERY AND REMOVAL</a></li>
          <li><a href="/nist/pe/pe-17.html">PE-17 ALTERNATE WORK SITE</a></li>
          <li><a href="/nist/pe/pe-18.html">PE-18 LOCATION OF INFORMATION SYSTEM COMPONENTS</a></li>
          <li><a href="/nist/pe/pe-19.html">PE-19 INFORMATION LEAKAGE</a></li>
          <li><a href="/nist/pe/pe-20.html">PE-20 ASSET MONITORING AND TRACKING</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/pl/index.html">PL - Planning</a>
        <ul>
          <li><a href="/nist/pl/pl-1.html">PL-1 SECURITY PLANNING POLICY AND PROCEDURES</a></li>
          <li><a href="/nist/pl/pl-2.html">PL-2 SYSTEM SECURITY PLAN</a></li>
          <li><a href="/nist/pl/pl-3.html">PL-3 SYSTEM SECURITY PLAN UPDATE</a></li>
          <li><a href="/nist/pl/pl-4.html">PL-4 RULES OF BEHAVIOR</a></li>
          <li><a href="/nist/pl/pl-5.html">PL-5 PRIVACY IMPACT ASSESSMENT</a></li>
          <li><a href="/nist/pl/pl-6.html">PL-6 SECURITY-RELATED ACTIVITY PLANNING</a></li>
          <li><a href="/nist/pl/pl-7.html">PL-7 SECURITY CONCEPT OF OPERATIONS </a></li>
          <li><a href="/nist/pl/pl-8.html">PL-8 INFORMATION SECURITY ARCHITECTURE</a></li>
          <li><a href="/nist/pl/pl-9.html">PL-9 CENTRAL MANAGEMENT</a></li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/pm/index.html">PM - Program Management</a>
        <ul>
          <li><a href="/nist/pm/pm-1.html">PM-1 INFORMATION SECURITY PROGRAM PLAN</a></l>
          <li><a href="/nist/pm/pm-2.html">PM-2 SENIOR INFORMATION SECURITY OFFICER</a></l>
          <li><a href="/nist/pm/pm-3.html">PM-3 INFORMATION SECURITY RESOURCES</a></l>
          <li><a href="/nist/pm/pm-4.html">PM-4 PLAN OF ACTION AND MILESTONES PROCESS</a></l>
          <li><a href="/nist/pm/pm-5.html">PM-5 INFORMATION SYSTEM INVENTORY</a></l>
          <li><a href="/nist/pm/pm-6.html">PM-6 INFORMATION SECURITY MEASURES OF PERFORMANCE</a></l>
          <li><a href="/nist/pm/pm-7.html">PM-7 ENTERPRISE ARCHITECTURE</a></l>
          <li><a href="/nist/pm/pm-8.html">PM-8 CRITICAL INFRASTRUCTURE PLAN</a></l>
          <li><a href="/nist/pm/pm-9.html">PM-9 RISK MANAGEMENT STRATEGY</a></l>
          <li><a href="/nist/pm/pm-10.html">PM-10 SECURITY AUTHORIZATION PROCESS</a></l>
          <li><a href="/nist/pm/pm-11.html">PM-11 MISSION/BUSINESS PROCESS DEFINITION</a></l>
          <li><a href="/nist/pm/pm-12.html">PM-12 INSIDER THREAT PROGRAM</a></l>
          <li><a href="/nist/pm/pm-13.html">PM-13 INFORMATION SECURITY WORKFORCE</a></l>
          <li><a href="/nist/pm/pm-14.html">PM-14 TESTING, TRAINING, AND MONITORING</a></l>
          <li><a href="/nist/pm/pm-15.html">PM-15 CONTACTS WITH SECURITY GROUPS AND ASSOCIATIONS</a></l>
          <li><a href="/nist/pm/pm-16.html">PM-16 THREAT AWARENESS PROGRAM</a></l>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/ra/index.html">RA - Risk Assessment</a>
        <ul>
          <li><a href="/nist/ra/ra-1.html">RA-1 RISK ASSESSMENT POLICY AND PROCEDURES</a></l>
          <li><a href="/nist/ra/ra-2.html">RA-2 SECURITY CATEGORIZATION</a></l>
          <li><a href="/nist/ra/ra-3.html">RA-3 RISK ASSESSMENT</a></l>
          <li><a href="/nist/ra/ra-4.html">RA-4 RISK ASSESSMENT UPDATE</a></l>
          <li><a href="/nist/ra/ra-5.html">RA-5 VULNERABILITY SCANNING</a></l>
          <li><a href="/nist/ra/ra-6.html">RA-6 TECHNICAL SURVEILLANCE COUNTERMEASURES SURVEY</a></l>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/ca/index.html">CA - Security Assessment and Authorization</a>
        <ul>
          <li><a href="/nist/ca/ca-1.html">CA-1 SECURITY ASSESSMENT AND AUTHORIZATION POLICY AND PROCEDURES</a></l>
          <li><a href="/nist/ca/ca-2.html">CA-2 SECURITY ASSESSMENTS</a></l>
          <li><a href="/nist/ca/ca-3.html">CA-3 SYSTEM INTERCONNECTIONS</a></l>
          <li><a href="/nist/ca/ca-5.html">CA-5 PLAN OF ACTION AND MILESTONES</a></l>
          <li><a href="/nist/ca/ca-6.html">CA-6 SECURITY AUTHORIZATION</a></l>
          <li><a href="/nist/ca/ca-7.html">CA-7 CONTINUOUS MONITORING</a></l>
          <li><a href="/nist/ca/ca-8.html">CA-8 PENETRATION TESTING</a></l>
          <li><a href="/nist/ca/ca-9.html">CA-9 INTERNAL SYSTEM CONNECTIONS</a></l>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/sc/index.html">SC - System and Communications Protection</a>
        <ul>
          <li><a href="/nist/sc/sc-1.html">SC-1 SYSTEM AND COMMUNICATIONS PROTECTION POLICY AND PROCEDURES</a></l>
          <li><a href="/nist/sc/sc-2.html">SC-2 APPLICATION PARTITIONING</a></l>
          <li><a href="/nist/sc/sc-3.html">SC-3 SECURITY FUNCTION ISOLATION</a></l>
          <li><a href="/nist/sc/sc-4.html">SC-4 INFORMATION IN SHARED RESOURCES</a></l>
          <li><a href="/nist/sc/sc-5.html">SC-5 DENIAL OF SERVICE PROTECTION</a></l>
          <li><a href="/nist/sc/sc-6.html">SC-6 RESOURCE AVAILABILITY</a></l>
          <li><a href="/nist/sc/sc-7.html">SC-7 BOUNDARY PROTECTION</a></l>
          <li><a href="/nist/sc/sc-8.html">SC-8 TRANSMISSION CONFIDENTIALITY AND INTEGRITY</a></l>
          <li><a href="/nist/sc/sc-9.html">SC-9 TRANSMISSION CONFIDENTIALITY</a></l>
          <li><a href="/nist/sc/sc-10.html">SC-10 NETWORK DISCONNECT</a></l>
          <li><a href="/nist/sc/sc-11.html">SC-11 TRUSTED PATH</a></l>
          <li><a href="/nist/sc/sc-12.html">SC-12 CRYPTOGRAPHIC KEY ESTABLISHMENT AND MANAGEMENT</a></l>
          <li><a href="/nist/sc/sc-13.html">SC-13 CRYPTOGRAPHIC PROTECTION</a></l>
          <li><a href="/nist/sc/sc-14.html">SC-14 PUBLIC ACCESS PROTECTIONS</a></l>
          <li><a href="/nist/sc/sc-15.html">SC-15 COLLABORATIVE COMPUTING DEVICES</a></l>
          <li><a href="/nist/sc/sc-16.html">SC-16 TRANSMISSION OF SECURITY ATTRIBUTES</a></l>
          <li><a href="/nist/sc/sc-17.html">SC-17 PUBLIC KEY INFRASTRUCTURE CERTIFICATES</a></l>
          <li><a href="/nist/sc/sc-18.html">SC-18 MOBILE CODE</a></l>
          <li><a href="/nist/sc/sc-19.html">SC-19 VOICE OVER INTERNET PROTOCOL</a></l>
          <li><a href="/nist/sc/sc-20.html">SC-20 SECURE NAME / ADDRESS RESOLUTION SERVICE (AUTHORITATIVE SOURCE)</a></l>
          <li><a href="/nist/sc/sc-21.html">SC-21 SECURE NAME / ADDRESS RESOLUTION SERVICE (RECURSIVE OR CACHING RESOLVER)</a></l>
          <li><a href="/nist/sc/sc-22.html">SC-22 ARCHITECTURE AND PROVISIONING FOR NAME / ADDRESS RESOLUTION SERVICE</a></l>
          <li><a href="/nist/sc/sc-23.html">SC-23 SESSION AUTHENTICITY</a></l>
          <li><a href="/nist/sc/sc-24.html">SC-24 FAIL IN KNOWN STATE</a></l>
          <li><a href="/nist/sc/sc-25.html">SC-25 THIN NODES</a></l>
          <li><a href="/nist/sc/sc-26.html">SC-26 HONEYPOTS</a></l>
          <li><a href="/nist/sc/sc-27.html">SC-27 PLATFORM-INDEPENDENT APPLICATIONS</a></l>
          <li><a href="/nist/sc/sc-28.html">SC-28 PROTECTION OF INFORMATION AT REST</a></l>
          <li><a href="/nist/sc/sc-29.html">SC-29 HETEROGENEITY</a></l>
          <li><a href="/nist/sc/sc-30.html">SC-30 CONCEALMENT AND MISDIRECTION</a></l>
          <li><a href="/nist/sc/sc-31.html">SC-31 COVERT CHANNEL ANALYSIS</a></l>
          <li><a href="/nist/sc/sc-32.html">SC-32 INFORMATION SYSTEM PARTITIONING</a></l>
          <li><a href="/nist/sc/sc-33.html">SC-33 TRANSMISSION PREPARATION INTEGRITY</a></l>
          <li><a href="/nist/sc/sc-34.html">SC-34 NON-MODIFIABLE EXECUTABLE PROGRAMS</a></l>
          <li><a href="/nist/sc/sc-35.html">SC-35 HONEYCLIENTS</a></l>
          <li><a href="/nist/sc/sc-36.html">SC-36 DISTRIBUTED PROCESSING AND STORAGE</a></l>
          <li><a href="/nist/sc/sc-37.html">SC-37 OUT-OF-BAND CHANNELS</a></l>
          <li><a href="/nist/sc/sc-38.html">SC-38 OPERATIONS SECURITY</a></l>
          <li><a href="/nist/sc/sc-39.html">SC-39 PROCESS ISOLATION</a></l>
          <li><a href="/nist/sc/sc-40.html">SC-40 WIRELESS LINK PROTECTION</a></l>
          <li><a href="/nist/sc/sc-41.html">SC-41 PORT AND I/O DEVICE ACCESS</a></l>
          <li><a href="/nist/sc/sc-42.html">SC-42 SENSOR CAPABILITY AND DATA</a></l>
          <li><a href="/nist/sc/sc-43.html">SC-43 USAGE RESTRICTIONS</a></l>
          <li><a href="/nist/sc/sc-44.html">SC-44 DETONATION CHAMBERS</a></l>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/si/index.html">SI - System and Information Integrity</a>
        <ul>
          <li><a href="/nist/si/si-1.html">SI-1 SI-1 SYSTEM AND INFORMATION INTEGRITY POLICY AND PROCEDURES</a></l>
          <li><a href="/nist/si/si-2.html">SI-2 FLAW REMEDIATION</a></l>
          <li><a href="/nist/si/si-3.html">SI-3 MALICIOUS CODE PROTECTION</a></l>
          <li><a href="/nist/si/si-4.html">SI-4 INFORMATION SYSTEM MONITORING</a></l>
          <li><a href="/nist/si/si-5.html">SI-5 SECURITY ALERTS, ADVISORIES, AND DIRECTIVES</a></l>
          <li><a href="/nist/si/si-6.html">SI-6 SECURITY FUNCTION VERIFICATION</a></l>
          <li><a href="/nist/si/si-7.html">SI-7 SOFTWARE, FIRMWARE, AND INFORMATION INTEGRITY</a></l>
          <li><a href="/nist/si/si-8.html">SI-8 SPAM PROTECTION</a></l>
          <li><a href="/nist/si/si-9.html">SI-9 INFORMATION INPUT RESTRICTIONS</a></l>
          <li><a href="/nist/si/si-10.html">SI-10 INFORMATION INPUT VALIDATION</a></l>
          <li><a href="/nist/si/si-11.html">SI-11 ERROR HANDLING</a></l>
          <li><a href="/nist/si/si-12.html">SI-12 INFORMATION HANDLING AND RETENTION</a></l>
          <li><a href="/nist/si/si-13.html">SI-13 PREDICTABLE FAILURE PREVENTION</a></l>
          <li><a href="/nist/si/si-14.html">SI-14 NON-PERSISTENCE</a></l>
          <li><a href="/nist/si/si-15.html">SI-15 INFORMATION OUTPUT FILTERING</a></l>
          <li><a href="/nist/si/si-16.html">SI-16 MEMORY PROTECTION</a></l>
          <li><a href="/nist/si/si-17.html">SI-17 FAIL-SAFE PROCEDURES</a></l>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/nist/sa/index.html">SA - System and Services Acquisition</a>
        <ul>

          <li><a href="/nist/sa/sa-1.html">SA-1 SYSTEM AND SERVICES ACQUISITION POLICY AND PROCEDURES</a></l>
          <li><a href="/nist/sa/sa-2.html">SA-2 ALLOCATION OF RESOURCES</a></l>
          <li><a href="/nist/sa/sa-3.html">SA-3 SYSTEM DEVELOPMENT LIFE CYCLE</a></l>
          <li><a href="/nist/sa/sa-4.html">SA-4 ACQUISITION PROCESS</a></l>
          <li><a href="/nist/sa/sa-5.html">SA-5 INFORMATION SYSTEM DOCUMENTATION</a></l>
          <li><a href="/nist/sa/sa-6.html">SA-6 SOFTWARE USAGE RESTRICTIONS</a></l>
          <li><a href="/nist/sa/sa-7.html">SA-7 USER-INSTALLED SOFTWARE</a></l>
          <li><a href="/nist/sa/sa-8.html">SA-8 SECURITY ENGINEERING PRINCIPLES</a></l>
          <li><a href="/nist/sa/sa-9.html">SA-9 EXTERNAL INFORMATION SYSTEM SERVICES</a></l>
          <li><a href="/nist/sa/sa-10.html">SA-10 DEVELOPER CONFIGURATION MANAGEMENT</a></l>
          <li><a href="/nist/sa/sa-11.html">SA-11 DEVELOPER SECURITY TESTING AND EVALUATION</a></l>
          <li><a href="/nist/sa/sa-12.html">SA-12 SUPPLY CHAIN PROTECTION</a></l>
          <li><a href="/nist/sa/sa-13.html">SA-13 TRUSTWORTHINESS</a></l>
          <li><a href="/nist/sa/sa-14.html">SA-14 CRITICALITY ANALYSIS</a></l>
          <li><a href="/nist/sa/sa-15.html">SA-15 DEVELOPMENT PROCESS, STANDARDS, AND TOOLS</a></l>
          <li><a href="/nist/sa/sa-16.html">SA-16 DEVELOPER-PROVIDED TRAINING</a></l>
          <li><a href="/nist/sa/sa-17.html">SA-17 DEVELOPER SECURITY ARCHITECTURE AND DESIGN</a></l>
          <li><a href="/nist/sa/sa-18.html">SA-18 TAMPER RESISTANCE AND DETECTION</a></l>
          <li><a href="/nist/sa/sa-19.html">SA-19 COMPONENT AUTHENTICITY</a></l>
          <li><a href="/nist/sa/sa-20.html">SA-20 CUSTOMIZED DEVELOPMENT OF CRITICAL COMPONENTS</a></l>
          <li><a href="/nist/sa/sa-21.html">SA-21 DEVELOPER SCREENING</a></l>
          <li><a href="/nist/sa/sa-22.html">SA-22 UNSUPPORTED SYSTEM COMPONENTS</a></l>
        </ul>
      </li>
      <li class=""><a href="https://docs.pivotal.io/archives/nist.pdf">PDF Version</a></li>
    </ul>
  </div>
</div><!--end of sub-nav-->

